ACME_AUTH_MODE=local
ACME_IDENTITY_URL=http://127.0.0.1:8316
ACME_STEERING_URL=
ACME_STEERING_INSTANCE_ID=default
ACME_STEERING_TOKEN=
ACME_TRUSTED_STEERING_ORIGINS=http://127.0.0.1:8323
ACME_ISSUES_TOKEN=svc_replace_with_projects_to_issues_token
ACME_TRUSTED_ISSUES_ORIGINS=http://127.0.0.1:8320
